@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: black !important;
}

/* Home page */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ea1538;
}

.logo {
    color: white;
    cursor: pointer;
    /*-webkit-user-select: none; /* Safari */
    /*-ms-user-select: none; /* IE 10 and IE 11 */
    /*user-select: none; /* Standard */
}

.logo-link {
    text-decoration: none;
}

span {
    color: #ea1538;
}

.menu {
    list-style-type: none;
    display: flex;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 26px;
    padding: 0px 20px;
}

.menu li a:hover {
    color: #ea1538;
    transition: .5s;
}

.login button {
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    padding: 0px 10px;
    background: none;
}

.login button:hover {
    background-color: #ea1538;
    transition: .5s;
}

.container {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.pac_logo {
    width: 300px;
    margin-top: 20px;
}

.heading-1 {
    color: white;
    margin-top: 20px;
}
/* 100% */
.main {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    
}
/* 50% */
.main-small {
    width: 50%;
    margin: 0 auto;
}

.main-small {
    margin-bottom: 100px;
}

.p-main-text {
    color: white;
    margin-top: 20px;
    padding: 20px;
}

.img-main {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.foot-wrap {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    border-top: 1px solid #ea1538;
}

footer h2 {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
}
/* Adding An Underline To The Anchor Tag Text */
footer h2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ea1538;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
    /* Hidding The Text Underline By Default */
    transform: scaleX(0);
}

footer li a:hover {
    color: #ea1538;
    transition: .5s;
}

/* Displaying The Text Underline On Mouse Hover */
footer h2:hover::after {
    transform: scaleX(1);
}

footer ul {
    list-style-type: none;
    /* padding-top: 20px; */
    padding-bottom: 20px;
    text-align: center;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

.p-footer {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

/* Icons Social Media*/
.icon-facebook:hover,.fb:hover {
    color: #3b5998;
}

.icon-youtube:hover, .yt:hover {
    color: #FF0000;
}

.icon-twitter:hover, .tw:hover {
    color: #00acee;
}

/* Login Page */
.bg-pac-login {
    background: url("images/bg_main_login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-pac-signup {
    background: url("images/bg_new.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 1520px 0px;
}

.all-inputs {
    padding: 50px;
}

.all-inputs input {
    width: 300px;
    margin-top: 10px;
    padding: 5px;
    background-color: white;
}

label {
    color: white;
}

.login-link {
    color: crimson;
    text-decoration: none;
}

.login-link:hover {
    color: white;
}

/* Login Name */
h4 {
    color: crimson;
}

/* Logout */
.logout button {
    color: white;
    cursor: pointer;
    background: none;
}

/* Button Sign Up Style is the same */
.btn-login {
    border: none;
    background-color: crimson;
    color: white;
    cursor: pointer;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
    
}

hr {
    color: white !important;
}

/* Story */
/* Card Biography */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid white !important;
    padding: 5px;
    background-color: black !important;
}

.title {
    color: white;
    font-size: 18px;
    padding: 5px;
}

.card-text {
    color: white;
    padding: 5px;
}

/* Music */
.quote {
    color: orange;
}

.wraps-albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.wraps-albums img:hover {
    cursor: pointer;
    padding: 3px;
}

figure img {
    width: 250px;
    margin: 20px;
    border: 1px solid white;
}

figcaption {
    color: white;
}

/* Community */
.feedback {
    text-align: left;
    border: 1px double white;
    padding: 10px;
    width: 450px;
}

h3 {
    color: white;
}

.btn-comment-post {
    border: none;
    background-color: crimson;
    color: white;
    cursor: pointer;
    width: 300px;
    padding: 10px;
}

/* Results from DB (Posts) Community */
.all-comments {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.show-post {
    text-align: left;
    width: 450px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    border: 1px solid white;
}

.show-post h4 {
    border-bottom: 1px solid red;
}

.show-post p {
    color: white;
}

.show-post h6 {
    color: cadetblue;
}

.edit-link {
    text-decoration: none;
    color: wheat;
}

.delete-link {
    text-decoration: none;
    color: red;
}

/* Contact Us */
.comment-label {
    background-color: white;  
}

/* Error Messages */
.bar {
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    color: #333;
    background: #fafafa;
    border: 1px solid #ccc;
}

.error {
    color: #ff0000;
    background: #ffe0e0;
    border: 1px solid #ff0000;
    text-align: center;
}

.success {
    color: #2b7515;
    background: #ecffd6;
    border: 1px solid #617c42;
    text-align: center;
}

/* community error width 100 */
.error-w100 {
    width: 100%;
    color: #ff0000;
    background: #ffe0e0;
    border: 1px solid #ff0000;
    text-align: center;
}

.success-w100 {
    width: 100%;
    color: #2b7515;
    background: #ecffd6;
    border: 1px solid #617c42;
    text-align: center;
}

/******************** Media Queries - Responsive ********************/

/* Mobile */
@media only screen and (max-width: 768px) {
    header {
        display: block;
    }
    .login {
        display: block;
        padding-top: 20px;
    }
    .logout {
        text-align: right;
    }
    .icon {
        display: block;
        color: white;
        width: 100%;
        font-size: 30px;
    }
    .pac_logo {
        width: 100px;
    }
    .heading-1 {
        font-size: 20px;
    }
    .foot-wrap {
        display: block;
    }
    h2 {
        text-align: center;
        margin-top: 20px;
    }
    .main-small {
        width: 100%;
    }
    .feedback {
        width: 100%;
    }
    .all-inputs input {
        width: 100%;
    }
    .all-inputs textarea {
        width: 100%;
    }
    .btn-comment-post {
        width: 100%;
    }
    .btn-login {
        width: 100%;
    }
    .bar {
        width: 100%;
    }
    footer h2 {
        width: 100%;
    }
    footer p {
        border-top: 1px solid white;
        padding: 10px;
    }
}
/* Tablet and Higher */
@media only screen and (min-width: 769px) and (max-width: 1215px) {
    header {
        display: block;  
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .menu{
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    .login {
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
    .logout {
        text-align: center;
        padding: 10px;
    }
    .pac_logo {
        width: 100px;
    }
}